/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
/* slider section */
.banner {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #DDDDDD;
}
.header {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin: 0 auto;
}
.roca {
    font-family: 'Poppins';
    font-size: 40px;
    color: #000;
    font-weight: 900;
    
}
.header h3{
    font-family: 'Poppins';
    font-size: 43px;
    font-weight: 900;
    color: #373737;
    text-shadow: 1px 1px 2px #000;

}
.banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}


.info-content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.info-content p:first-of-type {
    font-family: 'Glacial Indifference';
    font-size: 41px;
    color: #212121;
}
.info-content h4{
   font-family: 'Glacial Indifference';
   font-size: 71px;
   font-weight: 700;
   color: #212121;


}
.about{
    font-family: 'Glacial Indifference';
    font-size: 25px;
    font-weight: 400;
    color: #212121;

}
.icn-container{
    display: flex;
    justify-content: start;
    gap: 5px;
    z-index: 5;
}
.icn-container a img {
    max-width: 35px;
    width: 100%;
    transition: transform 0.3s ease;
}
.icn-container a img:hover{
    transform: translateY(-5px);
    filter: drop-shadow(0 0 5px #00000050);
}
.slider {
    width: 100%;
    height: 100%;
}

.slide {
    max-width: 550px;
    min-width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
        
}

.slide.active {
    display: flex;
}

.slide img {
    max-width: 550px;
    width: 100%;
    height: 75vh;
    object-fit: cover;
    border-radius: 5px;

}

.buttons {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.nextBtn, .prevBtn {
    background: transparent;
    color: #751b1b;
    border: none;
    padding: 18px;
    cursor: pointer;
    font-size: 28px;
    border-radius: 10%;
    z-index: 10;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}
.nextBtn:hover, .prevBtn:hover {
    background-color: #0000001a;
    border-radius: 25%;
}

/* detail info */
.detail-info{
    max-width: 1400px;
    width: 100%;
    display: flex;
    margin: 135px auto;
    gap: 65px;
    font-family: 'Glacial Indifference';

}

.aboutMe {
    max-width: 330px;
    text-align: right;
    margin-top: 80px;
}
.fullname{
    font-size: 40px;
    font-weight: 700;
}
.aboutMe p:first-of-type{
    font-family: 'Muli' ;
    font-size: 14px;
    color: #DAAE19;
    font-weight: 500;
}
.moreInfo{
    font-family: 'Muli' ;
    font-size: 15px;
    margin-top: 30px;
    color: #555555;
    font-weight: 500;
}
.hireMe{
    margin-top: 50px;
    padding: 15px;
    max-width: 150px;
    width: 100%;
    background-color: #E93656;
    color: #fff;
    border:none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.hireMe:hover{
    background-color: #45131c;
}
/* hireme popup */
.hireMeModal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #00000077;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: left;
    position: relative;
    width: 350px;
    box-shadow: 0 10px 20px #00000040;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}


#hireMeBtn:hover {
    background-color: #005f73;
}
#hireForm span{
    font-family: 'Glacial Indifference';
    font-size: 15px;
    font-weight: 600;
    color: #212121;
    text-align: start;
    float: left;
}
input, textarea {
    font-family: 'Glacial Indifference';
    font-size: 14px;
    color: #212121;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 4px;
    box-sizing: border-box;
}
textarea {
    
    resize: none;
    height: auto;
}

form button[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

form button[type="submit"]:hover {
    background-color: #218838;
}


.profImage img{
    max-width: 430px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.skills {
    width: 100%;
    max-width: 600px;
    margin: 40px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.skill {
    margin-bottom: 25px;
}

.skill-name {
    font-family: 'Glacial Indifference';
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    color: #212121;
}

.bar {
    width: 100%;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
}

.fill {
    height: 100%;
    width: 0;
    background-color: #3f51b5;
    border-radius: 2px;
    transition: width 1s ease-in-out;
}
.contact-info-cont{
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #131A36;
    padding: 50px 0;
    margin: 0 auto;
    gap: 45px;
    color: #FFFFFF;
    
}
.sec-info-cont{
    display: flex;
    max-width: 295px;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
}
.sec-info-logo{
    border: 2px dashed #fff;
    border-radius: 50%;
    padding: 30px;
    transition: background-color 0.5s ease-in, border 1s ease-out;
    cursor: pointer;
}
.sec-info-logo:hover{
    background-color: #28a745;
    border: none;
}
.sec-info-logo img{
    width: 30px;
    height: 30px;
}
.sec-info-det{
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    
}
.sec-info-det h4{
    font-family: 'Glacial Indifference';
    font-size: 25px;
    font-weight: 600;
}
.sec-info-det a{
    font-family: 'Muli';
    color: #fff;
    text-decoration: none;
}

/* Service Grid Section */

.services{
    max-width: 1920px;
    width: 100%;
    margin: 80px auto;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;

}
.serv-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    max-width: 1640px;
    margin: 0 auto;
    color: #222222;
}
.service-item {
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 0 4px 4px #00000055;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    max-width: 285px;
    min-height: 360px;
    transition: transform 1.5s;
    transform-style:preserve-3d;
    padding: 20px;
}
.service-item h3 {
    font-family: 'Glacial Indifference';
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #222;
}
.icon{
    width: 50px;
    height: 50px;
    margin: 20px auto;

}
.card-inner {
    max-width: 285px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card-back{
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 285px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 300;
    padding: 20px;
    transform: rotateY(180deg);

}
.service-item:hover{
    background-color: #15263E;
    transform: rotateY(180deg);

}
.service-item:hover .card-back {
    display: flex;
}
.service-item:hover .card-front {
    display: none;
}
.review-section {
    margin: 80px auto;
    text-align: center;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    background-image: url(../images/clip.jpg);
    background-size: cover;
    background-position: center;
    padding: 80px;
}
.review{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#review-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.6;
    text-align: end;
}
.profile{
    padding: 10px;
    border-radius: 50%;
    border: 2px dotted #fff;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: start;
    width: 100%;
}
#review-title {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #E93656;
}
#review-name {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
}

.dots {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #c6c2c2;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #c90a3a;
}


/* Cat */
.recent-projects {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}


/* Sidebar */
.projects-container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    gap: 25px;
 
}


.recent-projects h2 {
    font-family: 'Glacial Indifference';
    font-size: 70px;
    font-weight: 800;
    color: #2E2E2E;
    margin-bottom: 50px;
    text-align: center;
}
.sidebar {
    max-width: 200px;
    width: 100%;
    height: 100%;
    background-color: #15263E;
    color: #FFFFFF;
    padding: 10px;
    box-shadow: 0 4px 12px #0000000D;
}

.categories {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories li {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.2s ease;
}

.categories li:hover,
.categories li.active {
    color:#E93656;
}

/* cards */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    flex: 1;   
}

.project-card {
    max-width: 450px;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 12px #00000010;
}

.project-image {
    position: relative;
    max-width: 450px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.project-image img {
    max-width: 450px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-image .overlay {
    max-width: 450px;
    width: 100%;
    position: absolute;
    inset: 0;
    background-color: #00000099;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.overlay a {
    color: #fff;
    font-family: 'Glacial Indifference';
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.project-card:hover .overlay {
    opacity: 1;
}

.project-card:hover img {
   
    transform: scale(1.1);
}

/* articles */
.latest-articles {
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}
.latest-articles h2 {
    font-family: 'Glacial Indifference';
    font-size: 70px;
    font-weight: 800;
    color: #2E2E2E;
    margin-bottom: 50px;
    text-align: center;
}
.articles-container {
    display: flex;
    justify-content: right;
    
}
.article-float {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
}
.article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 725px;
    min-height: 560px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 15px;
    background-color: #fafafa;

}
.article-container h3 {
    font-family: 'Glacial Indifference';
    font-size: 30px;
    font-weight: 700;
    color: #2E2E2E;
    margin-top: 20px;
}
.article-container p {
    font-family: 'Muli';
    font-size: 16px;
    color: #555555;
    margin-top: 10px;
}
.year {
    background-color: #15263E;
    padding: 10px;
    display: flex;
    justify-content: center;
    max-width: 120px;
    width: 100%;
}
.year span{
    font-family: 'Glacial Indifference';
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #E93656;
    transform: rotate(180deg);
    writing-mode: vertical-rl;


}
.article-image {
    max-width: 700px;
    width: 100%;
    height: 560px;
    object-fit: cover;
}
.article-image img {
    max-width: 700px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* partners */
.partners {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    flex-direction: column;
}
.partners h2 {
    font-family: 'Glacial Indifference';
    font-size: 70px;
    font-weight: 800;
    color: #2E2E2E;
    margin-bottom: 50px;
    text-align: center;
}
.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.partner-logo {
    width: 150px;
    height: 150px;
    perspective: 1000px;
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.flip-card-front {
    background: #fff;
}

.flip-card-back {
    background: #f8f8f8;
    transform: rotateY(180deg);
}
/* footer */
.footer-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/map.jpg);
    background-size: cover;
    background-position: center;
}
.footer-container h3 {
    font-family: 'Glacial Indifference';
    font-size: 45px;
    font-weight: 800;
    color: #2E2E2E;
    margin: 50px auto;
    text-align: center;
}
.messageoform {
    max-width: 890px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff5c;
    border-radius: 10px;
    box-shadow: 0 4px 12px #00000010;
    margin-bottom: 30px;
}
.messageoform input {
    max-width: 280px;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
}
.messageoform textarea {
    max-width: 890px;
    width: 100%;
    padding: 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    height: auto;
}
.messageoform input::placeholder,
.messageoform textarea::placeholder {
    color: #515151;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 600;
}
#contactForm button {
    padding: 10px 20px;
    background-color: transparent;
    color: #E93656;
    border: 2px solid #E93656;
    font-weight: bold;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    
}
#contactForm button:hover {
    background-color: #b2191990;
    color: #fff;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background: #00000099;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;

}

.modal-content {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
}


/* media */

/* Smart phones */
@media (max-width: 599px) {
}   

/* Tablets  */
@media (min-width: 600px) and (max-width: 1023px) {
}

/* Small Laptops  */
@media (min-width: 1024px) and (max-width: 1279px) {
}

/* Desktops (1280px and up) */
@media (min-width: 1280px) {
}

/* Orientation Based Queries */
@media (orientation: landscape) {
}